*{
    box-sizing:border-box;
}
@font-face{
    font-family:'lotrFont';
    src:url('./font/lotrFont.ttf');
}
body{
    width:100%;
    height:100vh;
    margin: 0;
    padding: 0;
    background-color:black;
}
@keyframes introAnimation{
    0%   {opacity: 0;}
    25%  {opacity: 0.05;}
    50%  {opacity: 0.2;}
    75%  {opacity: 0.5;}
    100% {opacity: 1;}
}
@keyframes beginAnimation{
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0;}
    75%  {opacity: 0;}
    100% {opacity: 1;}
}
.introScreen{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-image:url(images/lotrGif.gif);
    background-repeat:no-repeat;
    background-size:100% 100%;
    z-index:102;
    font-family:'lotrFont',sans-serif;
    animation-name: introAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration:6s;
}
.soundButton{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items: center;
    width:5%;
    height:5%;
    color:white;
    top:2%;
    right:2%;
    background-image:url(images/mute.png);
    background-repeat:no-repeat;
    background-size:70% 80%;
    cursor:pointer;
}
.soundButtonInGame{
    position:fixed;
    display:flex;
    justify-content:center;
    width:5%;
    height:5%;
    bottom:6%;
    left:16%;
    background-image:url(images/mute.png);
    background-repeat:no-repeat;
    background-size:70% 80%;
    z-index:105;
    cursor:pointer;
}
.unMute{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items: center;
    width:5%;
    height:5%;
    color:white;
    top:2%;
    right:2%;
    background-image:url(images/speaker.png);
    background-repeat:no-repeat;
    background-size:70% 85%;
}
.imageSlidesButton{
    z-index:117;
}
.unMuteInGame{
    position:fixed;
    display:flex;
    justify-content:center;
    width:5%;
    height:5%;
    bottom:6%;
    left:16%;
    background-image:url(images/speaker.png);
    background-repeat:no-repeat;
    background-size:70% 80%;
    z-index:105;
}
.introTitle{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2.5em;
    color:RGB(161, 127, 26);
    animation-name: fontAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration:6s;
}
.exitIntroScreen{
    display:flex;
    justify-content:center;
    align-items:center;
    width:20%;
    height:20%;
    font-size:40px;
    z-index:104;
    color:white;
    margin-top:3%;
    animation-name: beginAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration:6s;
    background-image: url("./images/dwarfBorder.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor:pointer;
}
@keyframes fontAnimation {
    0%   {
        font-size: 0.5em;
    }
    100% {
        font-size: 2.5em;
    }
}
.aboutPage{
    position:absolute;
    width:90%;
    height:90%;
    background: rgba(0, 0, 0, 0.5);
    z-index:103;
    left: 50%;
    top:5%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display:flex;
    display: -webkit-flex;
    -webkit-justify-content:center;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.about{
    cursor:pointer;
}
.restartGame{
    position:absolute;
    width:50%;
    height:50%;
    background: rgba(0, 0, 0, 0.5);
    z-index:115;
    left: 50%;
    top:5%;
    color:white;
    font-size:3em;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border:5px double grey;
    font-family:'lotrFont',sans-serif;
    background-image:url(images/ringNewGame.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.playAgainButton{
    width:25%;
    height:25%;
    border:2px double white;
    background: rgba(0, 0, 0, 0.5);
    color:white;
    font-size:0.7em;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:115;
}
.lotrDesc {
    width: 50%;
    height: 80%;
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.8em;
}
.howToPlay{
    position:absolute;
    width:90%;
    height:90%;
    background: rgba(0, 0, 0, 0.7);
    z-index:106;
    left: 50%;
    top:5%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url(images/tutorial.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    border: 4px solid white;
}
.howToPlayMobile{
    display:none;
}
.imageSlides{
    position:absolute;
    width:325px;
    height:370px;
}
.displayLeft{
    position:absolute;
    left:0%;
}
.displayRight{
    position:absolute;
    right:0%;
    z-index:200;
}
.displayNoneClass{
    display:none;
}

.tutorial{
    cursor:pointer;
}
.exitButton{
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    width:5%;
    height:5%;
    top:0;
    right:0;
    background-color:white;
    color:black;
    font-size:40px;
    cursor:pointer;
}
.exitMobileCardInfo{
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    width:5%;
    height:5%;
    top:0;
    right:0;
    background-color:white;
    color:black;
    font-size:40px;
    cursor:pointer;
}
.container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-flex-direction:row;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    flex-direction:row;
    background-image:url(images/background.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    visibility:hidden
}
.rohan{
    position:fixed;
    width:30%;
    height:40%;
    left:-100px;
    overflow:hidden;
    z-index:116;
}
.chargeForward{
    -webkit-animation-name: rohanChargeForward  ; /* Chrome, Safari, Opera */
    -webkit-animation-duration:6s; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-name: rohanChargeForward ;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.chargeOne{
    top:2%;
    left:-800px;
}
.chargeTwo{
    top:14%;
    left:-700px;
}
.chargeThree{
    top:28%;
    left:-800px;
}
.chargeFour{
    top:35%;
    left:-700px;
}
.chargeFive{
    top:50%;
    left:-800px;
}
.chargeSix{
    top:60%;
    left:-700px;
}
.battleground {
    display:flex;
    flex-direction:column;
    width: 50%;
    height: 82%;
    flex-wrap:wrap;
}
/* LEFT SIDE START */
.gameArea{
    display:flex;
    display:-webkit-flex;
    display:-webkit-box;
    width:25%;
    height:82%;
    margin:0;
    padding:0;
    display:inline-flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}
/* LEFT SIDE START */
.game-info{
    display:flex;
    height:18%;
    width:100%;
    flex-direction:row;
    justify-content: space-between;
    align-content:flex-end;
    align-items:center;
    background: rgba(0, 0, 0, 0.8);
}
.info{
    display:flex;
    font-family:'lotrFont',sans-serif;
    height: 90%;
    width: 10%;
    color: white;
    margin: 0 1% 0 1%;
    font-weight:bold;
    background-image: url("./images/dwarfBorder.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items:center;
    justify-content:center;
    font-size:0.5em;
}

.horn{
    background-image:url(images/horn.png );
    background-repeat:no-repeat;
    background-size:95% 95%;
    background-position:center;
    font-size:1.4em;
    cursor:pointer;
}
.armor{
    font-size:2.5em;
    background-image:url(images/armor.png );
    background-repeat:no-repeat;
    background-size:85% 80%;
    background-position:center;
    cursor:default;
}
.hitPoints{
    font-size:2.5em;
    background-image:url(images/hp.png );
    background-repeat:no-repeat;
    background-size:85% 80%;
    background-position:center;
    cursor:default;
}
.animateHitPoints{
    -webkit-animation-name: hitPointAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: hitPointAnimation;
    animation-duration: 2s;
}
.gameCard{
    width: 32%;
    height: 32%;
    margin: 0 1% 2% 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-duration: 1.25s;
    transform-style: preserve-3d;
    transition-duration: 1.25s;
}
/* RIGHT SIDE END */
/* Front Side */
.front{
    width:100%;
    height:100%;
    position:absolute;
    margin: 0 1% 2% 0;
    padding:0 0 0 0;
    -webkit-transform: rotate3D(0,1,0,180deg);
    -webkit-backface-visibility: hidden;
    transform: rotate3D(0,1,0,180deg);
    backface-visibility: hidden;
}
.card-1{
 background-image:url(images/1.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-2{
 background-image:url(images/2.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-3{
 background-image:url(images/3.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-4{
 background-image:url(images/4.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-5{
 background-image:url(images/5.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-6{
 background-image:url(images/6.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-7{
 background-image:url(images/7.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-8{
 background-image:url(images/8.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-9{
 background-image:url(images/9.png );
 background-size: 100% 100%;
 border: 1px solid darkblue;
       }
/* Back Side */
.back{
    width:100%;
    height:100%;
    position:absolute;
    margin: 0% 1% 2% 0%;
    padding:0 0 0 0;
    background-image:url(images/back.jpg );
    background-repeat:no-repeat;
    background-size:100% 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor:pointer;
}
.flipCard{
    -webkit-transform:rotate3D(0,1,0,180deg);
     transform:rotate3D(0,1,0,180deg);
}
.inactive{
    pointer-events:none;
}
.active{
    pointer-events:auto;
}
.cardInactive{
    width: 32%;
    height: 32%;
    margin: 0 1% 2% 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-duration: 1.25s;
    transform-style: preserve-3d;
    transition-duration: 1.25s;
}
.enemyRow{
    display:flex;
    width:100%;
    height:33.3%;
}
.characterContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:33%;
    height:100%;
}
.heroAvatar{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:relative;
    z-index:100;
}
.enemy{
     width:100%;
     height:100%;
     top:10%;
     left:10%;
     position:relative;
}
.enemyAttack{
    -webkit-animation-name: enemyAttackAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: enemyAttackAnimation;
    animation-duration: 1.5s;
}
.enemy-4{
    width:100%;
    height:100%;
    top:5%;
    left:10%;
    position:relative;
}
.fadeIn {
    -webkit-animation-name: fadeIn; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: fadeIn;
    animation-duration: 1.5s;
}
.invisible{
    visibility: hidden;
}
.winDefeatNotification{
    width:50%;
    height:50%;
    position:absolute;
    text-align:center;
    font-size:100px;
    font-weight:bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:red;
    z-index:114;
    opacity:0;
    top: 20%;
    left: 25%;
}
.victory{
    color: green;
}
.animateDefeatVictory{
    -webkit-animation-name: victoryDefeatAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
    animation-name: victoryDefeatAnimation;
    animation-duration: 6s;
}
.hornPulseAnimation{
    -webkit-animation-name: hornPulsingAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: hornPulsingAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.fadeOut{
    -webkit-animation-name: fadeOut  ; /* Chrome, Safari, Opera */
    -webkit-animation-duration:2s; /* Chrome, Safari, Opera */
    animation-name: fadeOut ;
    animation-duration: 2s;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}
.fadeOutRohanCharge{
    -webkit-animation-name: fadeOutRohanCharge  ; /* Chrome, Safari, Opera */
    -webkit-animation-duration:2s; /* Chrome, Safari, Opera */
    animation-name: fadeOutRohanCharge ;
    animation-duration: 2s;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

@keyframes rohanChargeForward{
    0% {
        -webkit-transform:translateX(-100px) rotate(10deg);
        transform: translateX(-100px) rotate(10deg);
    }
    10% {
        -webkit-transform:translateX(50px) rotate(0deg);
        transform: translateX(50px) rotate(0deg);
    }
    20% {
        -webkit-transform:translateX(150px) rotate(10deg);
         transform:  translateX(150px) rotate(10deg);
    }
    30% {
       -webkit-transform:translateX(350px) rotate(0deg);
        transform:  translateX(350px) rotate(0deg);
    }
    40% {
        -webkit-transform:translateX(450px) rotate(10deg);
        transform: translateX(450px) rotate(10deg);
    }
    50% {
        -webkit-transform:translateX(550px) rotate(0deg);
        transform: translateX(550px) rotate(0deg);
    }
    60% {
        -webkit-transform:translateX(650px) rotate(10deg);
        transform:  translateX(650px) rotate(10deg);
    }
    70% {
        -webkit-transform:translateX(750px) rotate(0deg);
        transform:translateX(750px) rotate(0deg);
    }
    80% {
        -webkit-transform:translateX(950px) rotate(10deg);
        transform: translateX(950px) rotate(10deg);
    }
    90% {
        -webkit-transform:translateX(1350px) rotate(0deg);
        transform:  translateX(1350px) rotate(0deg);
    }
    95% {
        -webkit-transform:translateX(1600px)rotate(10deg);
        transform: translateX(1600px)rotate(10deg);
    }
    100% {
        -webkit-transform:translateX(2000px)rotate(0deg);
        transform: translateX(2000px)rotate(0deg);
    }

}
@keyframes victoryDefeatAnimation{
    from {
        opacity: 0;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}
@keyframes hornPulsingAnimation{
    0% { -webkit-transform: scale(1);
        transform: scale(1);
    }
    30% { -webkit-transform: scale(1);
        transform: scale(1)
    }
    40% { -webkit-transform: scale(1.08);
        transform: scale(1.08)
    }
    50% { -webkit-transform: scale(1);
        transform: scale(1);
    }
    60% { -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% { -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% { -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% { -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* For the duration of the animation we are going to */
/*change the scale of the button to 1.08 at 40% of the duration and*/
/*then put it back to normal then at 70% of the duration change the */
/*scale to 1.05.*/
@keyframes fadeOut {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
@keyframes fadeIn{
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes hitPointAnimation {
    10%, 90% {
        -webkit-transform:translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        -webkit-transform:translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        -webkit-transform:translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        -webkit-transform:translate3d(4px, 0, 0);
        transform:translate3d(4px, 0, 0);
    }
}
@keyframes enemyAttackAnimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);

    }
    75% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(0deg);

    }
}
@keyframes borderPulse {
    0%   { border-color: rgba(232, 48, 51, 1); }
    50%  { border-color: rgba(150, 24, 25, 0); }
    100% { border-color: rgba(232, 48, 51, 1); }
}
.activeSide{
    border:2px solid deeppink;
    animation:borderPulse 2s infinite;
}
@media only screen and (min-width : 1595px) {
    .info{
        font-size:0.9em;
    }
    .armor{
        font-size:2.5em;
    }
    .hitPoints{
        font-size:2.5em;
    }
}
@media only screen and (max-width : 851px) {
    .info{
        font-size:0.4em;
    }
    .horn{
        font-size:1em;
    }
   .lotrDesc{
       font-size:1em;
   }
    .armor{
        font-size:2.5em;
    }
    .hitPoints{
        font-size:2.5em;
    }
}
@media only screen and (min-width: 300px) and (max-width: 650px) {
    .howToPlay{
        display:none;
    }
    .howToPlayMobile{
        position: absolute;
        width: 333px;
        height: 378px;
        z-index: 115;
        left: 50%;
        top: 3%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid white;
    }
    .exitMobileCardInfo{
        width:15%;
        height:10%;
        z-index:1;
    }
    .container{
        position:fixed;
    }
    .info{
        font-size: 0.4em;
        line-height: 10px;
        word-spacing: 12.2em;
        text-align:center;
    }
    .horn{
        font-size:0.7em;
    }
    .lotrDesc{
        font-size:0.7em;
    }
    .armor{
        font-size:1.9em;
    }
    .hitPoints{
        font-size:1.9em;

    }
}
