
body{
    width:100%;
    height:100vh;
    margin: 0;
    padding: 0;

}
.container{
    display:flex;
    width: 100%;
    /*WHY DOES IT HAVE TO BE 99VH INSTEAD OF 100 to CANCEL OUT SCROLLING*/
    height: 100vh;
    flex-direction:row;
    flex-wrap:wrap;
    background-image:url(Images/woodBG.jpg );
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.rohan{
    position:fixed;
    width:30%;
    height:40%;
    overflow:hidden;
    z-index:2000;
}
.chargeForward{
    -webkit-animation-name: rohanChargeForward  ; /* Chrome, Safari, Opera */
    -webkit-animation-duration:4s; /* Chrome, Safari, Opera */
    animation-name: rohanChargeForward ;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.chargeOne{
    top:2%;
    left:0%;
}
.chargeTwo{
    top:14%;
    left:5%;
}
.chargeThree{
    top:20%;
    left:0%;
}
.chargeFour{
    top:35%;
    left:5%;
}
.chargeFive{
    top:50%;
    left:0%;
}
.chargeSix{
    top:60%;
    left:5%;
}
.battleground {
    display:flex;
    flex-direction:column;
    width: 50%;
    height: 82%;
    flex-wrap:wrap;

}
/* LEFT SIDE START */
.game-area.left_side{
    width:25%;
    height:82%;
    margin:0;
    padding:0;
    display:inline-flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    /*background-image: url(./images/finalsides.png);*/
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
}
/* LEFT SIDE START */
.game-area.right_side{
    width:25%;
    height:82%;
    margin:0;
    padding:0;
    display:inline-flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    /*background-image: url(./images/finalsides.png);*/
    /*background-repeat:no-repeat;*/
    /*background-size:100% 100%;*/
}
.game-info{
    display:flex;
    height:18%;
    width:100%;
    flex-direction:row;
    justify-content: space-between;
    align-content:flex-end;
    align-items:center;
    background: rgba(0, 0, 0, 0.5);
    border-radius:10%;

}
.info{
    display:flex;
    height: 90%;
    width: 10%;
    color: white;
    margin: 0 1% 0 1%;
    font-weight:bold;
    /*background-image: url("./images/buttonsFinal.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    align-items:center;
    justify-content:center;
    background: rgba(0, 0, 0, 0.6);
    border-radius:50%;
}
.horn{
    background-image:url(Images/horn.png );
    background-repeat:no-repeat;
    background-size:95% 95%;
    background-position:center;

}
.armor{
    background-image:url(Images/armor.png );
    background-repeat:no-repeat;
    background-size:85% 80%;
    background-position:center;
}
.hitPoints{
    font-size:40px;
    background-image:url(Images/hp.png );
    background-repeat:no-repeat;
    background-size:85% 80%;
    background-position:center;
}
.animateHitPoints{
    -webkit-animation-name: hitPointAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: hitPointAnimation;
    animation-duration: 2s;
}
.leftCard{
    width: 27%;
    width: 32%;
    height: 32%;
    margin: 0% 1% 2% 0%;
    transform-style: preserve-3d;
    transition-duration: 1.25s;
}
.rightCard{
    width: 32%;
    height: 32%;
    margin: 0% 1% 2% 0%;
    transform-style: preserve-3d;
    transition-duration: 1.25s;
}
/* RIGHT SIDE END */
/* Front Side */
.front{
    width:100%;
    height:100%;
    position:absolute;
    margin: 0% 1% 2% 0%;
    padding:0 0 0 0;
    transform: rotate3D(0,1,0,180deg);
    backface-visibility: hidden;
}
.card-1{
 background-image:url(Images/1.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-2{
 background-image:url(Images/2.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-3{
 background-image:url(Images/3.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-4{
 background-image:url(Images/4.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-5{
 background-image:url(Images/5.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-6{
 background-image:url(Images/6.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-7{
 background-image:url(Images/7.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-8{
 background-image:url(Images/8.png );
 border: 1px solid darkblue;
 background-size: 100% 100%;
}
.card-9{
 background-image:url(Images/9.png );
 background-size: 100% 100%;
 border: 1px solid darkblue;
       }
/* Back Side */
.back{
    width:100%;
    height:100%;
    position:absolute;
    margin: 0% 1% 2% 0%;
    padding:0 0 0 0;
    background-image:url(Images/back.jpg );
    background-repeat:no-repeat;
    background-size:100% 100%;
    backface-visibility: hidden;
}
.block{
    width: 27%;
    height: 25%;
    margin: 5% 1% 9% 0%;
}
.flipcard{
    transform: rotate3D(0,1,0,180deg);
}
.inactive{
    pointer-events:none;
}
.active{
    pointer-events:auto;
}
.cardInactive{
    width: 32%;
    height: 32%;
    margin: 0% 1% 2% 0%;
    transform-style: preserve-3d;
    transition-duration: 1.25s;
}
.enemyColumnTop{
    display:flex;
    width:100%;
    height:33.3%;
}
.enemyColumnMiddle{
    display:flex;
    width:100%;
    height:33.3%;
    flex-wrap:wrap;
}
.enemyColumnBottom{
    display:flex;
    width:100%;
    height:33.3%;
}
.enemyContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:33%;
    height:100%;
}
.heroContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    width:33.3%;
    height:100%;
}
.heroAvatar{
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    position:relative;
    z-index:100;
}
.enemyFlightLeft{
     width:100%;
     height:100%;
     top:10%;
     left:10%;
     position:relative;
}
.enemyFlightAttackFromLeft{
    -webkit-animation-name: flyingAttackLeft; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: flyingAttackLeft;
    animation-duration: 1.5s;
}
.enemyFlightRight{
    width:100%;
    height:100%;
    top:10%;
    left:10%;
    position:relative;
}
.enemyFlightAttackFromRight{
    -webkit-animation-name: flyingAttackRight; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: flyingAttackRight;
    animation-duration: 1.5s;
}
.enemyStandingLeft{
    width:100%;
    height:100%;
    position:relative;
    top:10%;
    left:10%;
}
.enemyMidLeftAttackAnimation{
    -webkit-animation-name: enemyMidLeftAttack; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: enemyMidLeftAttack;
    animation-duration: 1.5s;
}
.enemyStandingMiddle{
    width:100%;
    height:100%;
    top:5%;
    left:10%;
    position:relative;
}
.enemyStandingMiddleAttackAnimation{
    -webkit-animation-name: midAttackAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: midAttackAnimation;
    animation-duration: 1.5s;
}

.enemyStandingRight{
    width:100%;
    height:100%;
    top:10%;
    left:10%;
    position:relative;
}
.enemyMidRightAttackAnimation{
    /*-webkit-animation-name: enemyMidRightAttack; !* Chrome, Safari, Opera *!*/
    /*-webkit-animation-duration: 1.5s; !* Chrome, Safari, Opera *!*/
    /*animation-name: enemyMidRightAttack;*/
    /*animation-duration: 1.5s;*/
}
.enemyStandingBotLeft{
    width:100%;
    height:100%;
    top:10%;
    left:10%;
    position:relative;
}
.enemyBottomLeftAttackAnimation{
    -webkit-animation-name: enemyCloseLeftAttack; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: enemyCloseLeftAttack;
    animation-duration: 1.5s;
}
.enemyStandingBotRight{
    width:100%;
    height:100%;
    top:10%;
    left:10%;
    position:relative;
    z-index:1;
}
.enemyBottomRightAttackAnimation{
    -webkit-animation-name: enemyCloseRightAttack; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: enemyCloseRightAttack;
    animation-duration: 1.5s;
}
.enemyInvisible{
    visibility: hidden;
}
.defeat{
    width:100%;
    height:100%;
    position:absolute;
    text-align:center;
    font-size:80px;
    font-weight:bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:red;
    opacity:0;
    z-index:1010;
    top: 0%;
    left: 0%;
}
.victory{
    width:100%;
    height:100%;
    position:absolute;
    text-align:center;
    font-size:100px;
    font-weight:bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:green;
    opacity:0;
    z-index:1010;

}
.animateDefeatVictory{
    -webkit-animation-name: victoryDefeatAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
    animation-name: victoryDefeatAnimation;
    animation-duration: 6s;
}
.hornPulseAnimation{
    -webkit-animation-name: hornPulsingAnimation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: hornPulsingAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.fadeOut{
    -webkit-animation-name: fadeOut  ; /* Chrome, Safari, Opera */
    -webkit-animation-duration:2s; /* Chrome, Safari, Opera */
    animation-name: fadeOut ;
    animation-duration: 2s;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}
.fadeOutRohanCharge{
    -webkit-animation-name: fadeOutRohanCharge  ; /* Chrome, Safari, Opera */
    -webkit-animation-duration:2s; /* Chrome, Safari, Opera */
    animation-name: fadeOutRohanCharge ;
    animation-duration: 2s;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}
@keyframes rohanChargeForward{
    0% {
        transform: translateX(0);
    }
    0% {
        transform: rotate(10deg);
    }
    20% {
        transform: translateX(25%);
    }
    20% {
         transform: rotate(10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    40% {
        transform: translateX(50%);
    }
    60% {
        transform: rotate(10deg);
    }
    60% {
        transform: translateX(75%);
    }
    80% {
        transform: rotate(10deg);
    }
    80% {
        transform: translateX(100%);
    }
    100% {
        transform: rotate(10deg);
    }
    100% {
        transform: translateX(300%);
    }
    100% {
        opacity: 0;
    }

}
@keyframes victoryDefeatAnimation{
    from {
        opacity: 0;
        transform: scale(1, 1);
    }
    to {
        opacity: 1;
        transform: scale(1.2, 1.2);
    }
}
@keyframes hornPulsingAnimation{
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
/* For the duration of the animation we are going to */
/*change the scale of the button to 1.08 at 40% of the duration and*/
/*then put it back to normal then at 70% of the duration change the */
/*scale to 1.05.*/

@keyframes fadeOutRohanCharge {
    0% { opacity: 1; }
    10% { opacity: 0.95; }
    20% { opacity: 0.94; }
    30% { opacity: 0.93; }
    40% { opacity: 0.92; }
    50% { opacity: 0.95; }
    60% { opacity: 0.95; }
    70% { opacity: 0.95; }
    80% { opacity: 0.95; }
    90% { opacity: 0.95; }
    100% { opacity: 0; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
@keyframes midAttackAnimation{
    0% {
        transform: translateY(5vh);
    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes hitPointAnimation {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
@keyframes flyingAttackLeft {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);

    }
    75% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(0deg);

    }
}
@keyframes flyingAttackRight {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);

    }
    75% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(0deg);

    }
}
@keyframes enemyMidLeftAttack {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);

    }
    75% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(0deg);

    }
}
@keyframes enemyMidRightAttack {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);

    }
    75% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(0deg);

    }
}
@keyframes enemyCloseLeftAttack {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);

    }
    75% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(0deg);

    }
}
@keyframes enemyCloseRightAttack {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);

    }
    75% {
        transform: rotate(10deg);

    }
    100% {
        transform: rotate(0deg);

    }
}
